# Dependencies
/node_modules
/order-service/node_modules
/order-ui/node_modules
/order-ui/dist

# Environment variables - VERY IMPORTANT
.env
/order-service/.env
/order-ui/.env
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db